.env
.env.*
!.env.example

.vscode/
dist/
files/
res/

node_modules/
package-lock.json
package.json
!.github/actions/package.json
!.github/actions/package-lock.json

__pycache__/

DONOTCOMMIT

*.tmp.md